body{
    background-color: #134812;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}
header{
    background-image: url(../assets/img/fondo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1{
    margin: 0px;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
}
.logo{
    width: 160px;
    height: 112px;
}
.imgTitle{
    display: flex;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 160px;
    margin: 1px;
    margin-bottom: 8px;
    border-radius: 30px;
}
/* Estilos para el botón del menú desplegable */
.menu {
    display: flex;
    justify-content: center;
    
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Estilos para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Cambia el color del enlace al pasar el cursor por encima */
.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

/* Muestra el contenido desplegable cuando pasas el cursor sobre el botón */
.menu:hover .dropdown-content {
    display: block;
}
a{
    font-family: 'Questrial', sans-serif;
}
.divImg{
    background-color: beige;
    height: 540px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 3px;
    border-radius: 5px;
    margin-top: 3px;

    box-shadow: 2px 2px 6px 0px black;
    
 
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 100px;
    height: 100px;
    width: 335px;
    height: 242px;
    border-radius: 10px;
    
}
.relleno{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    width: 332px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;

}
p{
    margin: 8px
}


h4{
    margin: 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}
span{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.pRelleno{
    font-family: 'Questrial', sans-serif;
    
    text-align: center;
    border-radius: 15px;
}

footer{
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 119px;
    margin-top: 5px;
}
.pFooter{
    border: 1px solid black;
    border-radius: 7px;
    background: gray;
    padding: 3px;
    font-family: 'Questrial', sans-serif;
}



h2{
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}
.imgPlantacion{
    margin: 5px;
    margin-bottom: 25px;
    width: 348px;
    height: 274px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;

}
.pRelleno2{
   
    font-family: 'Questrial', sans-serif;
    
    text-align: center;
    border-radius: 15px;
   
   
}
#linkgit{
    color: green;
}

@media (min-width: 768px){
    .imgPlantacion{
        width: 740px;
        height: 416px;
    }
    main{
        height: 700px;
    }
    .divImg{
        height: 685px;
        
    }
    footer{
        height: 79px;
    }
    .pRelleno{
        font-size: 17px;
    }
    .pRelleno2{
        font-size: 17px;
    }
}
@media (min-width: 1024px){
    .imgPlantacion{
        width: 940px;
        height: 528px;
    }
    main{
        height: 777px;
        
    }
    .divImg{
        height: 776px;
    }
    .relleno{
        margin: -13px;
    }
    .pRelleno{
        text-align: justify;
        font-size: 17px;
    }
    .pRelleno2{
        text-align: justify;
        font-size: 17px;
    }
}
@media (min-width: 1300px){
    .divImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .imgPlantacion{
    width: 1220px;
    height: 979px;
}
    
    .pRelleno{
    font-size: 25px;
}
    .pRelleno2{
    font-size: 25px;
}
    h2{
    font-size: 40px;
}

}